#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.thumbnail-card {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-radius: 1em;
  border-color: #6bbaa3;
  border-width: 2px;
}

.tn-image {
  flex: 1;
}

.tn-image > img {
  width: 100%;
}

.tn-description {
  flex: 1;
  padding-left: 1rem;
  text-align: left;
}

.video-url-input {
  display: block;
  width: 100%;
  text-align: center;
  height: 2em;
  border-radius: 1em;
  margin: 1.5rem 0;
}
