#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.thumbnail-card {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tn-image {
  flex: 1;
}

.tn-image > img {
  width: 100%;
}

.tn-description {
  flex: 2;
  padding-left: 1rem;
  text-align: left;
}
